@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

@theme {

  /* font styles */
  --font-roboto: 'Roboto';
  --font-montserrat: 'Montserrat';
  --font-poppins: 'Poppins';

  /* colours */
  --color-white: #ffffff;
  --color-green: oklch(69.6% 0.17 162.48);
  --color-darkGreen: #014444;
  --color-gray: #48535c;
  --color-black: #161616


}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}